DB_HOST="<mariadb docker name Ex: all-things-puzzles-mariadb-1>"
DB_NAME="<db name>"
DB_USER="<db user>"
DB_PASS="<db password"
BASE_URL="<path that your files live at and must match exactly how you are accessing it. Ex: http://www.example.com/>"
